* {
    margin: 0;
}

body {
    width: 100%;
    height
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: auto;
    justify-content: center;
    align-items: space-evenly;

    
}



#btn {
    background-color: blue;
    border: none;
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 32px;
    color: white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.content {
    display: flex;
    flex-direction: column;
    
}

.block {
    margin: 5px;
    border-radius: 5px;
    

}

